.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2c364c;
  padding: 0px;
  list-style: none;
}
li {
  padding: 0px;
  /* margin-left: 150px; */
}
.head-cls {
  margin-right: 200px;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}
p {
  color: white;
  margin: 20px;
}
.btn-style {
  color: white;
  background-color: #4f46e5;
  border-radius: 9px;
  border: 2px solid #4f46e5;
  font-size: 15px;
  padding: 10px;
  margin-left: 200px;
}
